header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--header-border) solid silver;
    padding-bottom: var(--header-padding);
    /*
    background-image: url(../img/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #e3d2a5;
    */
}

header img {
    height: calc(var(--header-height) * .5);
    margin: 12px 0 0 1rem;
    padding: 0;
}

header ul {
    margin-right: 1rem; 
}

header li {
    display: inline-block;
    text-align: right;
    margin-left: 1rem; 
}

