article {
    max-width: 60rem;
    padding: 1rem;
    margin: 1rem auto;
}

article p:last-child {
    text-align: right;
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

article h1 {
    text-align: center;
    font-size: 2rem;
}

.email span {
    font-size: 1.5rem;
}

.email span:first-child {
    margin-right: 2rem;
}

.email span:last-child {
    margin-left: 2rem;
}
