script.
    export let show

|{#if show == 'intro'}
article.mobile
    include:markdown-it intro-mobile.md
article.tablet
    include:markdown-it intro-tablet.md
|{:else if show == 'premium'}
article.mobile
    include:markdown-it premium-mobile.md
article.tablet
    include:markdown-it premium-tablet.md
|{/if}

style.
    article {
        max-width: 60rem;
        padding: 1rem;
    }

    article p:last-child {
        text-align: right;
    }

    .tablet {
        display: none;
    }

    .mobile {
        line-height: 1.5rem;    
    }

    @media (min-width: 720px) {
        .tablet {display: block;}    
        .mobile {display: none;}    
    }

    h1 {font-size: 1.5rem;}
