header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: calc(var(--header-height) - 2rem);
    margin: 1rem;
    padding: 0;
}

header ul {
    margin-right: 1rem; 
}

header li {
    display: inline-block;
    text-align: right;
    margin-left: 1rem; 
}

footer {
    line-height: var(--footer-height);
    text-align: center;
    font-size: smaller;
}
