:root {
    --hr-margin: 8px;
    --hr-border: 1px;
}

@media (max-height: 375px)  {
    :root {
        --hr-margin: 0px;
        --hr-border: 0px;
    }
    hr {
        display: none !important;
    }
}

:root {
    --hr-height: calc(var(--hr-margin) + var(--hr-border));
    --section-height: calc(var(--main-min-height) - var(--hr-height) * 2);
}

hr {
    height: var(--hr-border);
    margin-top: var(--hr-margin);
    margin-bottom: var(--hr-margin);
    border: none;
    color: #ddd;
    background-color: #ddd;
    width: 100%;
}

hr:first-child {
    margin-top: 0;
}

hr:last-child {
    margin-bottom: 0;
}

section {
    height: var(--section-height);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: calc(var(--header-height) - 2rem);
    margin: 1rem;
    padding: 0;
}

header ul {
    margin-right: 1rem; 
}

header li {
    display: inline-block;
    text-align: right;
    margin-left: 1rem; 
}

footer {
    line-height: var(--footer-height);
    text-align: center;
    font-size: smaller;
}
