:root {
    --figcaption-height: 2rem;
    --figure-border:  1px;
    --figure-margin:  2rem;
    --figure-padding: .5rem;
}

@media (max-width: 812px)  {
    figure {
        --figure-border:  0px;
        --figure-margin:  0px;
    }
}

:root {
    --hr-margin: 8px;
    --hr-border: 1px;
    --figure-height: calc(
          var(--main-min-height) 
        - var(--figure-margin) * 2 
        - var(--figure-padding) * 2 
        - var(--figure-border) * 2 
        - var(--hr-margin) * 2 
        - var(--hr-border) * 2
    );
    --figure-max-width: calc(
          100vw 
        - var(--figure-margin) * 2 
        - var(--figure-padding) * 2 
        - var(--figure-border) * 2 
    );
    --figure-width: calc(var(--figure-height) / 9 * 16);
    --canvas-height: calc(var(--figure-height) - var(--figcaption-height));
}

figcaption {
    text-align: center;
    height: var(--figcaption-height);
    line-height: var(--figcaption-height);
    background-color: #bbb;
}

figure {
    padding: var(--figure-padding);
    margin: var(--figure-margin);
    border: var(--figure-border) solid #ddd;
    height: var(--figure-height);
    width     : var(--figure-width);
    max-width : var(--figure-max-width);
    background-color: #eee;
}

canvas {
    background-color: #bbb;
    width: 100%;
    height : var(--canvas-height);
}
