:root {
    --header-height: 6rem;
    --footer-height: 4rem;
    --body-min-height: 100vh;
    --grid-gap: 1.5rem;
}

body, header, footer, aside, main, section {
    margin:  0;
    padding: 0;
}

body {
    min-height: var(--body-min-height);
}

@media (max-height: 812px)  {
    :root {
        --header-height: 3rem;
        --footer-height: 1.5rem;
    }
}

:root {
    --main-min-height: calc(var(--body-min-height) - var(--header-height) - var(--footer-height) - var(--grid-gap) * 2);
}

main {
    min-height: var(--main-min-height);
}

aside {
    height: var(--main-min-height);
    overflow: auto;
}

header {
    height: var(--header-height);
}

footer {
    height: var(--footer-height);
}
