:root {
    --header-border: 1px;
    --header-padding: 6px;
    --header-height: 6rem;
    --footer-border: 1px;
    --footer-padding: 0px;
    --footer-height: 4rem;
    --body-min-height: 100vh;
    --grid-gap: 1.5rem;
}

body, header, footer, aside, main, section {
    margin:  0;
    padding: 0;
}

body {
    min-height: var(--body-min-height);
}
/*
@media (max-height: 812px)  {
    :root {
        --header-height: 3rem;
        --footer-height: 1.5rem;
    }
}
*/
:root {
    --main-min-height: calc(
        var(--body-min-height) 
        - var(--grid-gap) * 2 
        - var(--header-height) 
        - var(--header-border) 
        - var(--header-padding)
        - var(--footer-height) 
        - var(--footer-border) 
        - var(--footer-padding)
    );
}

main {
    min-height: var(--main-min-height);
}

aside {
    height: var(--main-min-height);
    overflow: auto;
}

header {
    height: var(--header-height);
}

footer {
    height: var(--footer-height);
}
