body {
  display: grid;
  gap: var(--grid-gap);
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header header" 
    "aside main" 
    "footer footer";
}

header { grid-area: header; }
aside  { grid-area: aside; }
main   { grid-area: main; }
footer { grid-area: footer; }

