:root {
    --body-min-height: 100vh;
    --header-height: 3rem;
    --header-padding: 0px;
    --header-border: 1px;
    --footer-border: 1px;
    --footer-padding: 0px;
    --footer-height: 1.5rem;
    --grid-gap: 0px;
}

:root {
    --main-min-height: calc(
        var(--body-min-height) 
        - var(--header-height) 
        - var(--footer-height) 
        - var(--header-border) 
        - var(--header-padding)
        - var(--footer-border) 
        - var(--footer-padding)
        - var(--grid-gap) * 2 
    );
}

body, header, footer, aside, main, section {
    margin:  0;
    padding: 0;
    border:  0;
}

body {
    min-height: var(--body-min-height);
}

/*
@media (max-height: 812px)  {
    :root {
        --header-height: 3rem;
        --footer-height: 1.5rem;
    }
}

main {
    min-height: var(--main-min-height);
}

aside {
    height: var(--main-min-height);
    overflow: auto;
}

header {
    height: var(--header-height);
}

footer {
    height: var(--footer-height);
}
*/
