* {
	font-family : -apple-system, BlinkMacSystemFont, Oxygen-Sans, Ubuntu, Cantarell, Roboto,
       "Trebuchet MS", "Helvetica Neue", "Segoe UI", 
        Helvetica, Verdana, Arial, sans-serif;
}

body {
    font-size: 16px;
}

aside a {
  display: block;
  color: black;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
}

aside a.active {
  background-color: #4CAF50;
  color: white;
}

aside a:hover:not(.active) {
  background-color: #555;
  color: white;
}
